.header {
  &-top {
    @include bgc(var(--bg-header));
    padding: 15.5px 0;
    &__container {
      @include flexbox(
        (
          justify-content: space-between,
          align-items: center,
        )
      );
    }
    &__logo {
      position: relative;
      display: inline-block;
      overflow: hidden;
      padding: 5px;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: -150%;
        width: 150%;
        height: 100%;
        background: linear-gradient(
          to right,
          transparent,
          rgba(255, 255, 255, 0.8),
          transparent
        );
        -webkit-animation: shine 3s infinite;
                animation: shine 3s infinite;
      }
      @-webkit-keyframes shine {
        to {
          left: 150%;
        }
      }
      @keyframes shine {
        to {
          left: 150%;
        }
      }
    }
    &__menu {
      ul {
        display: flex;
        list-style: none;
        gap: 20px;
        li a {
          text-decoration: none;
          color: var(--text-secondary);
          font-weight: 700;
          font-size: 14px;
          line-height: calc(20 / 14);
          display: inline-flex;
          align-items: center;
          gap: 6px;
          border-radius: 100px;
          @include bgc(#1f3758);
          padding: 6px 12px;
          transition: color 0.2s ease;
          &:hover {
            color: $primary-color;
          }
          img {
            max-width: 16px;
            display: block;
          }
        }
      }
    }
  }

  &-main {
    &__list {
      list-style: none;
      @include flexbox(
        (
          align-items: center,
        )
      );
      gap: 0 42px;
      flex-wrap: wrap;

      li a {
        @include flexbox(
          (
            align-items: center,
          )
        );
        text-decoration: none;
        color: var(--text-primary);
        font-size: 14px;
        font-weight: 700;
        line-height: calc(24 / 14);
        text-transform: uppercase;
        gap: 8px;
        transition: all 0.2s linear;
        position: relative;
        padding: 21px 0;
        &:hover path,
        &:hover {
          fill: $primary-color;
          color: $primary-color;
        }
        &:hover:after {
          visibility: visible;
          opacity: 1;
          transition: all 0.4s linear;
          width: 100%;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          @include bgc($primary-color);
          height: 2px;
          width: 0;
          visibility: hidden;
          opacity: 0;
        }
      }
    }
  }
}
